@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* --------------------------------------------------------------------------------
 * Basic settings.
 * -------------------------------------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  color: #323232;
  background-color: #ECEFF1;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.body-wrapper {
  min-height: 95vh;
  /* ↑ Fallback of calc() for unsupported browsers */
  min-height: calc(100vh - 50px);
  position: relative;
  padding-bottom: 30px;
  box-sizing: border-box;
}

/* --------------------------------------------------------------------------------
 * Header.
 * -------------------------------------------------------------------------------- */
.header-wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 0;
  height: 50px;
  width: 100%;
  background-color: #1B435D;
}

.header-wrapper:hover {
  opacity: 0.9;
}

.header-wrapper ul {
  color: #ffffff;
  font-size: 1.4rem;
  list-style-type: none;
}

.header-wrapper ul li {
  padding: 15px 30px 15px 10px;
  display: inline-block;
}

.header-wrapper ul li:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* .header-wrapper .toolbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0;
  min-height: 50px;
  max-height: 50px;
  background-color: #1B435D;
  color: #ffffff;
  font-size: 1.4rem;
}

.header-wrapper .toolbar-row {
  padding: 0 0;
}

.header-wrapper .menu {
  height: 50px;
}

.header-wrapper .menu:hover {
  opacity: 0.7;
}

.header-wrapper .menu.btnSystemName {
  padding-left: 10px;
}

.header-wrapper .menu.btnSignOut {
  text-align: right;
  padding-right: 10px;
  margin-right: 0;
  right: 0;
  position: absolute;
  height: 50px;
}

.header-wrapper .btnSidenav {
  display: none;
} */
/* --------------------------------------------------------------------------------
 * footer.
 * -------------------------------------------------------------------------------- */
.footer-wrapper {
  height: 20px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  background-color: #ECEFF1;
}

/* --------------------------------------------------------------------------------
 * Basic settings of the registering page.
 * -------------------------------------------------------------------------------- */
.registering-page-wrapper {
  margin: 50px auto 10px;
  padding-bottom: 25px;
}

.registering-title-wrapper {
  height: 35px;
  background-color: #78BBE6;
  padding: 0 10px;
}

.registering-title {
  width: 820px;
  margin: 0 auto;
}

.registering-title h1 {
  line-height: 35px;
  font-weight: normal;
  color: #ffffff;
  font-size: 1.4rem;
}

.registering-criteria-wrapper {
  height: 520px;
  background-color: #ffffff;
}

.registering-criteria-wrapper .button:hover {
  opacity: 0.8;
}

/* .registering-criteria-wrapper .flat-button:hover {
  opacity: 0.8;
} */
.registering-criteria,
.registering-functions {
  width: 770px;
  margin: 0 auto;
  padding: 0 0 10px;
}

.registering-criteria {
  display: table;
}

.registering-functions {
  padding-top: 20px;
}

.registering-area-wrapper {
  vertical-align: top;
  display: table-cell;
}

.registering-area-wrapper.left {
  padding-top: 10px;
  width: 500px;
}

.registering-area-wrapper.right {
  width: 270px;
  text-align: right;
}

.registering-area-wrapper img {
  max-width: 200px;
}

.registering-area-wrapper p {
  margin-left: 70px;
  text-align: left;
}

.registering-condition-wrapper {
  margin: 10px auto 0;
}

.registering-criteria-wrapper input[type=text] {
  margin-top: 30px;
  margin-bottom: 30px;
  border-width: 0;
  font-size: 1.4rem;
  display: block;
}

/* .registering-criteria-wrapper .form-field {
  width: 20rem;
  font-size: 1.4rem;
}

.registering-criteria-wrapper .form-field.width-wide {
  width: 40rem;
}

.registering-criteria-wrapper .validation-error {
  margin-top: 0.2rem;
} */
.registering-criteria-wrapper p {
  margin-top: 30px;
  font-size: 1.4rem;
  display: block;
}

.registering-functions-wrapper {
  height: 30px;
  text-align: right;
}

.registering-area-wrapper .button,
.registering-functions-wrapper .button {
  display: inline-block;
  padding: 10px 0;
  width: 200px;
  border-radius: 2px;
  background-color: #78BBE6;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.registering-functions .button {
  padding: 10px 0;
  margin-left: 18px;
}

.registering-functions .button:hover {
  opacity: 0.8;
}

.registering-functions .button.active {
  background-color: #F99F48;
  color: #ffffff;
}

/* .registering-area-wrapper .flat-button,
.registering-functions-wrapper .flat-button {
  width: 200px;
  border-radius: 2px;
  background-color: #78BBE6;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin-left: 18px;
}

.registering-functions-wrapper .flat-button:hover {
  opacity: 0.8;
}

.registering-functions-wrapper .flat-button.active {
  background-color: #F99F48;
  color: #ffffff;
}

.registering-functions-wrapper .flat-button:disabled {
  opacity: 0.4;
} */
/* --------------------------------------------------------------------------------
 * Other Material settings.
 * -------------------------------------------------------------------------------- */
/* .mat-dialog-container {
  background-color: #ECEFF1;
  box-shadow: none;
  padding: 0 !important;
}

.mat-checkbox.mat-accent.mat-checkbox-checked .mat-checkbox-background {
  background-color: #F99F48;
} */
/* --------------------------------------------------------------------------------
 * Smart Phones and tablets settings.
 * -------------------------------------------------------------------------------- */
/* @media screen and (max-width:768px) {
  .listing-page-wrapper h1 {
    text-align: center;
  }

  .search-criteria,
  .search-condition-wrapper {
    display: block;
  }

  .search-criteria {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .search-criteria .form-field {
    width: 95%;
  }

  .search-criteria .form-field-dates,
  .search-criteria .date-from .form-field,
  .search-criteria .date-to .form-field {
    width: 100%;
  }

  .search-functions-wrapper,
  .search-functions-paginator,
  .search-functions-buttons {
    padding: 0;
    margin: 0;
    display: block;
  }

  .search-functions-wrapper {
    height: auto;
    text-align: center;
  }

  .search-functions-paginator {
    width: 100%;
  }

  .search-functions-wrapper .mat-paginator-container {
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .search-functions-buttons {
    text-align: center;
    background-color: #ffffff;
  }

  .search-functions-wrapper .flat-button {
    height: 40px;
    width: 95%;
    margin: 2px 0;
  }

  .search-results-wrapper .search-results thead {
    display: none;
  }

  .search-results-wrapper .search-results tbody {
    height: auto;
  }

  .search-results-wrapper .search-results tr {
    display: block;
    margin-top: 5px;
    border-bottom: 2px solid #F2F2F2;
  }

  .search-results-wrapper .search-results td {
    display: block;
    height: 2rem;
    border-bottom: 0;
  }

  .search-results-wrapper .search-results td:before {
    content: attr(data-label);
    float: left;
  }

  .registering-page-wrapper {
    padding-bottom: 55px;
    text-align: center;
  }

  .registering-criteria-wrapper {
    height: auto;
    margin-bottom: 30px;
  }

  .registering-criteria-wrapper .registering-criteria,
  .registering-criteria-wrapper .registering-area-wrapper {
    display: block;
  }

  .registering-title,
  .registering-criteria,
  .registering-condition-wrapper,
  .registering-functions,
  .registering-area-wrapper.left,
  .registering-area-wrapper.right,
  .registering-area-wrapper img,
  .registering-criteria-wrapper p {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .registering-criteria-wrapper .registering-condition-wrapper {
    margin: 0;
    padding: 0;
  }

  .registering-criteria-wrapper .form-field,
  .registering-criteria-wrapper .form-field.width-wide {
    width: 95%;
    font-size: 1.2rem;
  }

  .registering-criteria-wrapper p {
    margin-top: 10px;
  }

  .registering-functions-wrapper .registering-functions {
    padding: 0;
  }

  .registering-area-wrapper .flat-button,
  .registering-functions .flat-button {
    height: 40px;
    width: 95%;
    margin: 2px 0;
  }
} */
